
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 7% 8%;
    --foreground: 210 40% 98%;

    --card: 220 7% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 220 7% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 181 75% 51%;
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 203 100% 19%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 194 100% 15%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 183 73% 49%;

    --radius: 0.5rem;

    --sidebar-background: 220 7% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 181 75% 51%;
    --sidebar-primary-foreground: 222.2 84% 4.9%;
    --sidebar-accent: 220 7% 12%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 7% 15%;
    --sidebar-ring: 181 75% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-theme-background text-foreground;
  }
}
